body {
    /*background: #fff;*/
    /*background: url('http://fc07.deviantart.net/fs70/f/2014/219/5/7/mountain_paradise_by_afoxen-d7u2kd2.jpg');*/
    background: url('http://fc09.deviantart.net/fs71/f/2013/203/2/a/day_s_end_by_xellojel-d6ent0x.jpg');
    -webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		-ms-background-size: 100% 100%;
		background-size: 100% 100%;
		background-repeat:no-repeat;
		background-attachment:fixed;

    line-height: 100%;
      display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
