RewriteEngine on
ErrorDocument 404 /blag/error.php?http_error=404
ErrorDocument 500 /blag/error.php?http_error=500

AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff